<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.newmedia.erxeslibrary">

    <application android:largeHeap="true">

        <activity
            android:name=".ui.faq.FaqDetailActivity"
            android:theme="@style/Theme_erxes_dialog"
            android:launchMode="singleTask"/>
        <activity
            android:name=".ui.faq.FaqActivity"
            android:theme="@style/Theme_erxes_dialog"
            android:launchMode="singleTask"/>
        <activity
            android:name=".ui.ErxesActivity"
            android:theme="@style/Theme_erxes_dialog"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".ui.conversations.ConversationListActivity"
            android:theme="@style/Theme_erxes_dialog"
            android:launchMode="singleTask"/>
        <activity
            android:name=".ui.message.MessageActivity"
            android:theme="@style/Theme_erxes_dialog"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTask"/>

        <service android:name=".connection.service.ListenerService" />
        <service android:name=".connection.service.SaasListenerService" />


    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>