<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.newmedia.erxeslibrary">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>

        <activity
            android:name=".ui.faq.FaqDetailActivity"
            android:theme="@style/Theme_erxes_dialog" />
        <activity
            android:name=".ui.faq.FaqActivity"
            android:theme="@style/Theme_erxes_dialog" />
        <activity
            android:name=".ui.login.ErxesActivity"
            android:theme="@style/Theme_erxes_dialog"/>
        <activity
            android:name=".ui.conversations.ConversationListActivity"
            android:theme="@style/Theme_erxes_dialog" />
        <activity
            android:name=".ui.message.MessageActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme_erxes_dialog" />

        <service android:name=".configuration.ListenerService" />


    </application>

</manifest>